# Unity project in subdirectory: Mahjong

Mahjong/[Ll]ibrary/
Mahjong/[Tt]emp/
Mahjong/[Oo]bj/
Mahjong/[Bb]uild/
Mahjong/[Bb]uilds/
Mahjong/[Ll]ogs/
Mahjong/[Uu]ser[Ss]ettings/
Mahjong/*.log

Mahjong/*.blend1
Mahjong/*.blend1.meta

Mahjong/[Mm]emoryCaptures/
Mahjong/[Rr]ecordings/

Mahjong/[Aa]ssets/Plugins/Editor/JetBrains*
Mahjong/*.DotSettings.user

Mahjong/.vs/
Mahjong/.gradle/

Mahjong/ExportedObj/
Mahjong/.consulo/
Mahjong/*.csproj
Mahjong/*.unityproj
Mahjong/*.sln
Mahjong/*.suo
Mahjong/*.tmp
Mahjong/*.user
Mahjong/*.userprefs
Mahjong/*.pidb
Mahjong/*.booproj
Mahjong/*.svd
Mahjong/*.pdb
Mahjong/*.mdb
Mahjong/*.opendb
Mahjong/*.VC.db

Mahjong/*.pidb.meta
Mahjong/*.pdb.meta
Mahjong/*.mdb.meta

Mahjong/sysinfo.txt
Mahjong/mono_crash.*

Mahjong/*.apk
Mahjong/*.aab
Mahjong/*.unitypackage
Mahjong/*.unitypackage.meta
Mahjong/*.app

Mahjong/crashlytics-build.properties

Mahjong/InitTestScene*.unity*

Mahjong/ServerData
Mahjong/[Aa]ssets/StreamingAssets/aa*
Mahjong/[Aa]ssets/AddressableAssetsData/link.xml*
Mahjong/[Aa]ssets/Addressables_Temp*
Mahjong/[Aa]ssets/AddressableAssetsData/*/*.bin*

Mahjong/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
Mahjong/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
Mahjong/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
Mahjong/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta

Mahjong/[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*

Mahjong/[Aa]ssets/[Tt]ext[Mm]esh[Pp]ro/
